---
title: Nornir plugin for Infrahub
---

A [Nornir](https://github.com/nornir-automation/nornir) plugin for Infrahub. Infrahub can be used as an inventory source for Nornir.

## Installation

```console
pip install nornir_infrahub
```

## References
{% for plugin_name, plugin in plugins.items() %}
### {{ plugin_name.title() }}
{% for module in plugin %}
#### {{ module.module }}
{% for function_name, function in module.functions.items() %}
- [{{ function_name }}](./references/plugins/{{ module.file_name }}#{{ function_name.lower() }})
{% endfor %}
{%- endfor %}
{%- endfor %}